header{
    
    height: 8.6vh;
    align-items: left ;
    position: sticky;
    top: 0;
    z-index: 999;
    border-top-left-radius:9px; 
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
  }
  .navbar{
    border:  solid rgba(0,0,0,0);
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }

.container {
    position: relative;
    height: 420vh;
    width: vw;     
}

.first {
    /* border: 3px solid rgb(194, 10, 10); */
    position: absolute;
    height: 29%;
    width: 100%;
    z-index: 1;
    
}

.video-bg{
    position: absolute;
    top: 0%;
    left: 0%;
    height:100%;
    width:100%;
    z-index: -1;
    object-fit: cover;
}
.teslalogo{
    position: absolute;
    height: 3.57%;  
    width:9.67%;
    top: 2.85%;
    left: 3.22%;
}
.buttons{
    position: absolute;
    top: 2.15%;
    left: 33%;
}

.button {
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
  }
  .button1 {
    background-color: transparent;
    color: white; 
  }
  
  .button1:hover {
    backdrop-filter: blur(15px);
    color: white;
  }

  .threeicons{
    /* border: 1px solid black; */
    position: absolute;
    height: 3.57%;  
    width:9.5%;
    top: 2.85%;
    right: 2.85%;
  }
  
  .icon1{
    position: sticky;
    /* left: 0%; */
  }
  .icon2{
    position: sticky;
    /* right: 38%;  */
  }
  .icon3{
    position: sticky;
    /* right: 0%; */
  }
  .i-button {
    border: none;   
    cursor: pointer;
    border-radius: 9px;
  }
  .i-button1 {
    background-color: transparent;
    color: white; 
  }
  
  .i-button1:hover {
    backdrop-filter: blur(15px);
    color: white;
  }

  .wordsInMid{
    position: absolute;
    border:  solid rgba(0,0,0,0);
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    font-size:7.85vh ;
    text-align: center;
    line-height: 7vh;
    top:16.42%;
    left: 38.22%;
    width: 25%;
    height: 25%;
    margin-top: 0%;
  }
  .t1{
    font-size:3.57vh ;
  }
  .t2{
    font-size:2.71vh ;
  }
.statisceInEnd{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    border:  solid rgba(0,0,0,0);
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    font-size:4vh ;
    text-align: center;
    line-height: 5vh;
    top:69%;
    left: 33.87%;
    width: 32.25%;
    height: 9.5%;
    margin-top: 0%;
}
.st1{
    position: absolute;
    left: 0%;
}
.st2{
    position: absolute;
    left: 39%;
}
.st3{
    position: absolute;
    right: 0%;
}

.st1-2{
    font-size:2.2vh ;
}
.st2-2{
    font-size:2.2vh ;
}
.st3-2{
    font-size:2.2vh ;
}
.buttonsAtEnd{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    border:  solid rgba(0,0,0,0);
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    text-align: center;
    top:83.5%;
    left: 30.64%;
    width: 40%;
    height: 5%;
    margin-top: 0%;
}
.button-2 {
    position: absolute;
    left: 0%;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    padding-left: 4.18vw;
    padding-right: 4.18vw;
    padding-top: 0.44vw;
    padding-bottom: 0.44vw;
    border-radius: 7px;
  }
  .button-2-1 {
    background-color: white;
    color: black;
    border:0.4vh solid white;
  }
  
  .button-2-1:hover {
    background-color: rgb(245, 243, 239);
    color: black;
  }

  .button-3 {
    position: absolute;
    right: 0%;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    padding-left: 4.83vw;
    padding-right: 4.83vw;
    padding-top: 0.44vw;
    padding-bottom: 0.44vw;
    border-radius: 7px;
  }
  .button-3-1 {
    background-color: transparent;
    color: white;
    border:0.4vh solid white;
  }
  
  .button-3-1:hover {
    background-color: white;
    color: black;
  }
  .last{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    border:  solid rgba(0,0,0,0);
    font-size: 2.14vh;
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    text-align: center;
    bottom:0.4%;
    left: 28.5%;
    width: 45%;
    height: 6.5%;
    margin-top: 0%;
  }

.second {
    /* border: 3px solid black; */
    position: absolute;
    height: 37%;
    width: 100%;
    bottom: 34%;
}
.carPhoto img{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5);   */
    top: -18%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: -1;
}

.textE{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    border:  solid rgba(0,0,0,0);
    font-size: 3.75vh;
    color: #171a20;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    text-align: left;
    bottom:0%;
    left: 12.25%;
    width: 74%;
    height: 33%;
    margin-top: 0%;
}
.TE1{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    width: 31.5%;
    height: 15%;
    font-size: 5vh;
    color: #171a20;
    font-weight:bold;
}
.TE2{
    /* border: 1px solid rgb(239, 5, 5); */
    position: absolute;
    top: 20%;
    font-size: 2.5vh;
    color: #393C41;
}
.TE3{
    /* border: 1px solid rgb(239, 5, 5); */
    position: absolute;
    width: 54.3%;
    height: 40%;
    top:33%;

    font-size: 2.5vh;
    color: #393C41;
}
.TE4{
    /* border: 1px solid rgb(239, 5, 5); */
    position: absolute;
    width: 45.3%;
    height: 40%;
    top:33%;
    right: 0%;
    font-size: 2.5vh;
    color: #393C41;
}
 
.third {
    /* border: 3px solid black; */
    background-color: white;
    position: absolute;
    height: 34%;
    width: 100%;
    bottom: 0%;
}

.mapPhoto img{
    /* border: 1px solid rgb(239, 5, 5);   */
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.sec3-0{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    /* border:  solid rgba(0,0,0,0); */
    color: #171a20;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    text-align: left;
    top: 8%;
    left: 4.83%;
    width: 20%;
    height: 58%;
    margin-top: 0%;
}

.sec3-1{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    font-weight: bold;
    font-size: 3.75vh;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
}
.sec3-11{
    font-size:2.14vh;
}

.sec3-2{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    font-weight: bold;
    font-size: 3.75vh;
    top: 38%;
    left: 0%;
    width: 100%;
    height: 15%;
}
.sec3-21{
    font-size:2.14vh;
}

.sec3-3{
    position: absolute;
    /* border: 1px solid rgb(239, 5, 5); */
    font-weight: bold;
    font-size: 3.75vh;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 15%;
}
.sec3-31{
    font-size:2.14vh;
}



.foter3{
    position: absolute;
    /* border:  solid rgba(0,0,0,0); */
    font-size: 3.75vh;
    color: black;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    bottom:0%;
    left: 12.25%;
    width: 80%;
    height: 33%;
    margin-top: 0%;
}

.go{
    position: absolute; 
    font-size: 6vh;
    font-weight: bold;
    top: 15%;
    left: 0%;
}
.buttonlast{
    position: absolute;
    width: 23%;
    height: 15%;
    top:40%;
    left: 0%;
}
.button-3-1-last {
    background-color: white;
    color: black;
    border:0.4vh solid black;
  }
  
  .button-3-1-last:hover {
    background-color: black;
    color: white;
    border:0.4vh solid black;
  }
  .lasttext{
    position: absolute;
    font-size: 3vh;
    color: #171a20;
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik', sans-serif; 
    text-align: left;
    top:15%;
    right: 0%;
    width: 65%;
    height: 33%;
    margin-top: 0%;
    margin-left: 10%;
  }